@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    align-self: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: black;
    color: white;
    display: flex;
    width: 300px;
    flex-direction: column;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 1rem;
    margin: 2rem auto;
    position: relative;
    overflow: hidden;
}

.container p {
    margin-top: 15px;
}

.song-image {
    width: 60%;
    height: 200px;
}

.song-image img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.song-info {
    text-align: center;

}

.song-info .song-name {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 10px;
}

.song-info .artist {
    opacity: .5;
}

.progress-section {
    width: 80%;
    height: 3px;
    cursor: pointer;
    background: white;
    position: relative;
    margin-bottom: 10px;

}

.progress-section .bar {
    background: red;
    width: 0;
    height: inherit;
    position: absolute;
}

.progress-section .bar::after {
    position: absolute;
    top: -160%;

    right: -10px;
    content: " ";
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: red;
    display: none;
}

.progress-section:hover .bar::after {
    display: block;
}

.controls {
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: space-between;

    margin-bottom: 15px;
}

.controls .play-pause {
    width: 40px;
    position: relative;
    height: 40px;
    /* top: -40%; */
    border-radius: 50%;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 40px;
    font-size: 40px;
    /* transform: translateY(-px); */


}

.controls span {
    cursor: pointer;
}

.controls span:hover {
    transform: scale(1.3);
    opacity: 0.6;
}

.counter {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.music-library {
    position: absolute;
    left: 0;
    bottom: -300px;
    width: 90%;
    height: 200px;
    overflow: auto;
    background: black;
    border-radius: 15px;
    color: white;
    padding: 0 15px 15px 15px;
    box-shadow: 0 0 5px white;
    display: none;


}

.music-library.active {
    display: block;
    bottom: 0;
}

.music-library .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    padding: 9px;
    position: sticky;
    background: black;
    top: 0;
    z-index: 2;

}

.music-library .content {
    position: relative;
}

.music-library::-webkit-scrollbar {
    height: auto;

}

ul {
    list-style: none;
}

ul li {
    display: flex;
    font-size: 0.7rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;


}

li img {
    width: 50px;
    object-fit: cover;
    display: block;
    height: 50px;
    border-radius: 15px;
}

li.info {
    font-style: 700;
}

ul li:hover {
    cursor: pointer;
    transform: scale(1.05);
}

li .artist {
    opacity: 0.6;
}

li.playing {
    color: green;
    font-weight: 700;
}

li.playing .artist {
    opacity: 0.7;
}